@tailwind base;
@tailwind components;
@tailwind utilities;

formkit-form {
    @apply tw-flex tw-flex-col tw-gap-4 tw-p-4;
}

.formkit-form .alert {
    @apply tw-p-4 tw-text-sm tw-font-medium tw-leading-tight tw-text-white tw-rounded;
}

.formkit-form .alert.success {
    @apply tw-bg-green-800;
}

.formkit-form .alert.error {
    @apply tw-bg-red-800;
}

.formkit-message {
    @apply tw-text-red-500;
}

.formkit-form > .formkit-messages {
    @apply tw-hidden;
}

.formkit-outer {
    width: calc(50% - 1rem);
}

#contactoForm > div > div.tw-flex.tw-w-full > div:nth-child(1) {
    display: flex;
    flex-direction: row;
}

.formkit-label {
    @apply tw-mb-4;
}

select {
    @apply tw-w-full tw-outline-0 tw-bg-transparent tw-border-b tw-border-kiire-text tw-py-3 tw-min-h-[24px];
}

.tw-button,
.formkit-input[type="submit"] {
    @apply tw-flex tw-gap-2 tw-flex-row tw-font-medium tw-text-xs md:tw-text-base tw-font-bricolage-grotesque tw-whitespace-nowrap tw-items-center tw-text-kiire-text tw-border tw-rounded-lg tw-border-kiire-text tw-pl-2 tw-pr-4 tw-py-4 tw-uppercase tw-cursor-pointer tw-transition-all;
}

.formkit-input[type="submit"] {
    @apply tw-mt-10 tw-w-full tw-flex tw-justify-center;
}

.formkit-help {
    @apply tw-text-xs tw-mt-2;
}

.tw-button:hover, .formkit-input[type="submit"]:hover {
    @apply tw-bg-kiire-green-buttons-hover;
}

.formkit-input[type="submit"]:disabled {
    @apply tw-bg-gray-200 tw-border-gray-600 tw-cursor-not-allowed tw-text-gray-400;
}

.circle-button {
    @apply tw-border tw-bg-kiire-circle tw-border-kiire-text tw-rounded-full tw-h-0 tw-min-h-2 tw-min-w-2 tw-ml-2;
}

.kiire-form-register {
    @apply tw-flex tw-flex-col tw-gap-4;
}

.kiire-form-register input {
    @apply tw-bg-transparent tw-outline-0 tw-py-3 tw-border-b tw-border-kiire-text tw-w-full;
}